h1{
    text-align: center;
}
ul.none {
    list-style-type: none;
}

.forma {
    background-color: rgb(182, 255, 255);
    border: 2px solid black;
    border-radius: 10px;

}

.blue {
    color: rgb(240, 240, 240);
}

input:focus {
    border: 2px solid #000;
    background: rgb(161, 210, 238);
}

legend {
    border: 2px solid black;
    background-color: rgb(217, 176, 230);
    border-radius: 5px;
}

